.hours{
    background-color: $background;
    padding-top: 10% !important;
    padding-bottom: 8%;

    .picture{
        position: relative;

        .picture_icon{
            position: absolute;
            top: -35px;
            left: 199px;
            z-index: 3;
            height: 50px;
        }

        .picture_content{
            box-shadow: 6px 10px 31px -2px rgba(0, 0, 0, 0.192);
            top: -184px;
            height: 700px;
            z-index: 2;
            position: absolute;
            border-radius: 2%;
        }

        .invisible{
            left: -800px;
        }

        .visible{
            left: 238px;
        }
    }

    .hours_card{
        width: 85%;
        padding: 11% 6%;
        border-radius: 10px;
        background-color: white;
        box-shadow: 6px 10px 31px -2px rgba(0, 0, 0, 0.192);

        .hours_title{
            display: flex;
            align-items: center;
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 9%;

            img {
                height: 23px;
                margin-right: 12px;
            }
        }

        .row{
            margin-top: 6% !important;
            margin-bottom: 5% !important;
            .hours_block{
                display: flex;
                flex-direction: column;
                align-items: center;
                .hours_day{
                    font-family: "montserrat";
                    color: $primary-color;
                }

                .hours_content{
                    display: flex;
                    flex-direction: column;
                    margin-top: 12px;
                    color: #111111;
                    font-family: "heebo-bold";
                }
            }
        }

        .hours_sunday{
            padding-left: 10%;

            span{
                font-family: "heebo-regular";
                color: #3f3f3f;
            }
        }
    }
}

//Responsive Mobile
@media (max-width: 600px) {
    .hours{

        .picture{
            
            .picture_icon{
                top: 113px;
                left: 25px;
            }

            .picture_content{
                top: 60px;
                left: 55px;
                border-radius: 6%;
                height: 260px;
            }
        }

        .hours_global{
            display: flex;
            justify-content: center;
            padding-top: 290px;

            .hours_card{
                width: 95%;

                .hours_title{
                    padding-top: 30%;
                    padding-bottom: 10%;
                }

                .row{
                    margin: 0px !important;

                    .hours_block{
                        padding: 5%;

                        .hours_day{
                            font-size: 19px;
                        }
                        .hours_content{
                            font-family: "heebo-regular";
                            font-size: 19px;
                        }
                    }
                }

                .hours_sunday{
                    display: flex;
                    justify-content: center;
                    padding: 15px 0px;
                }
            }
        }
    }
}